<!-- start custom head snippets -->
{% if page.robots %}
<meta name="robots" content="{{ page.robots | escape }}">
{% endif %}

<link rel="icon" href="{{ '/assets/images/branding/favicon.ico' | relative_url }}" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/branding/favicon-32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/branding/favicon-16.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/images/branding/favicon-96.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/branding/favicon-180.png' | relative_url }}">
{% unless page.assessment %}
<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '2031290');
</script>
<!-- End MailerLite Universal -->
{% endunless %}

<!-- end custom head snippets -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
